@charset "utf-8";

:root {
    --border: 2px solid #000;
    --font: 'Pretendard',-apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
  }
  html {
    font-family: var(--font);
    line-height: 1.6;
    font-size: 17px;
    /* 스크롤 바 부드럽게 처리 */
    scroll-behavior: smooth;
    text-transform: capitalize;
  }
  /* 스크롤 바 만드는 법 */
  ::-webkit-scrollbar {width: 16px;}
  ::-webkit-scrollbar-track {background-color: rgb(198, 198, 198);}
  ::-webkit-scrollbar-thumb {background-color: #fff; height: 10%;}
  
  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
  img {
    /* 이미지 배열 중앙으로 */
    vertical-align: top;
  }

  /* nav */
  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 100%;
    z-index: 999;

    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    box-shadow:
  0px 1px 3.6px -37px rgba(0, 0, 0, 0.028),
  0px 2px 5.6px -37px rgba(0, 0, 0, 0.054),
  0px 3px 7.2px -37px rgba(0, 0, 0, 0.079),
  0px 4px 8.5px -37px rgba(0, 0, 0, 0.101),
  0px 4.9px 9.8px -37px rgba(0, 0, 0, 0.12),
  0px 5.7px 11px -37px rgba(0, 0, 0, 0.137),
  0px 6.5px 12.3px -37px rgba(0, 0, 0, 0.151),
  0px 7.2px 13.8px -37px rgba(0, 0, 0, 0.164),
  0px 7.7px 15.5px -37px rgba(0, 0, 0, 0.194),
  0px 8px 18px -37px rgba(0, 0, 0, 0.34)
;


  }
  nav h1 {
    width: 100px;
    margin-right: auto;
    margin-left: 80px;
  }
  #gnb {
    display: flex;
    margin-right: 60px;
  }
  #gnb > li {
    position: relative;
  }
  #gnb > li> a {
    font-size: 1.15rem;
    font-weight: 500;
    padding: 0 20px;

    transition: .3s;
    height: 80px;
    line-height: 80px;
  }
  #gnb > li> a:hover {
    background-color: green;
    color: #fff;
  }
  #gnb .sub_menu {
    background-color: #fff;
    color: #000;
    box-shadow:
  -1.7px -1.8px 2.2px -14px rgba(0, 0, 0, 0.02),
  -1.9px -2px 5.3px -14px rgba(0, 0, 0, 0.028),
  0.1px 0.1px 10px -14px rgba(0, 0, 0, 0.035),
  5.6px 5.9px 17.9px -14px rgba(0, 0, 0, 0.042),
  17.8px 18.8px 33.4px -14px rgba(0, 0, 0, 0.05),
  50px 53px 80px -14px rgba(0, 0, 0, 0.07)
;




    width: 230px;
    transition: .3s;

    
  position: absolute;
  left: 0; top: 80px;

  opacity: 0;
  transform: translateY(30px);
  pointer-events: none;
  }
  #gnb > li:hover .sub_menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
    cursor: pointer;
  }

  #gnb .sub_menu a {
    font-weight: 600;
    color: #999;
    padding: 15px 15px;
    transition: .3s;
  }
  #gnb .sub_menu a:hover {
    color: green;
    padding: 30px 0 30px 30px;
    background-color: rgb(246, 244, 244);
    cursor: pointer;
  }

  /* header */
  header {
    background: url(./이미지/img-04.jpg) no-repeat 50%/ cover;
    height: 100vh;
    position: relative;
  }
  .roll_btn {
    position: absolute;
    left: 50%; bottom: 0;
  }
  .roll_btn svg {
    width: 55px; height: 55px;
    
  }
  .roll_btn path {
    fill: #fff;
    animation: ani_1 infinite .8s ease-in-out;

  }
  @keyframes ani_1 {
    15% {
      opacity: 0;
    }
    60% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;

    }
  }
  header h2 {
    position: absolute;
    top: 25%; right: 10%;
    font-size: 4.3rem;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.3;
  }
  header p {
    margin-top: 30px;
    position: absolute;
    top: 55%; right: 8.5%;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #000;
  }
  header .banner_btn {
    border: var(--border);
    border-radius: 5px;
    position: absolute;
    top: 73%; right: 28.5%;
    padding: 10px 60px;
  }
  header .banner_btn:hover {
    color: #fff;
    padding: 10px 60px;
    background-color: #000;
    cursor: pointer;
    transition: .3s;
    transform: scale(0.8);
    box-shadow:
  3.8px 3.5px 17.5px -13px rgba(0, 0, 0, 0.083),
  7.3px 6.7px 26.6px -13px rgba(0, 0, 0, 0.148),
  10.3px 9.4px 35.4px -13px rgba(0, 0, 0, 0.194),
  12px 11px 49px -13px rgba(0, 0, 0, 0.42)
;
  }

  
  /* <!-- 옆으로 이동하는 버튼 --> */
  .side_btn_lt {
    width: 55px; height: 55px;
    line-height: 55px;
    background-color: rgba(68, 68, 68, 0.447);
    position: absolute;
    right: 0; bottom: 50%;
    cursor: pointer;
  }
  .side_btn_lt svg {
    position: absolute;
    top: 50%; right: 0;
    transform: translate(-25%, -50%) rotate(-180deg);

  }
  .side_btn_lt:hover {
    background-color: #000;
  }
  .side_btn_lt svg path {
    fill: #fff;
  }
  .side_btn_rh {
    width: 55px; height: 55px;
    line-height: 55px;
    background-color: rgba(68, 68, 68, 0.447);
    position: absolute;
    left: 0; bottom: 50%;
    cursor: pointer;
  }
  .side_btn_rh:hover {
    background-color: #000;
  }
  .side_btn_rh svg {
    position: absolute;
    top: 50%; left: 0;
    transform: translate(25%, -50%);

  }
  .side_btn_rh svg path {
    fill: #fff;
  }


  /* main */
  main {
    
  }
  main .title {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 100px;
  }
  main .title::after {
    content: "";
    width: 50px; height: 3px;
    margin: 40px auto;
    background-color: #000;
    display: block;
  }
  main .title {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 100px;
  }
  main #main_intro {
    margin: 100px auto;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 50px;
  }
  main #main_intro .main_intro_inner {
    padding: 2vw;
  }
  main #main_intro h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  main #main_intro p {
    margin-top: 20px;
  }
  main .border-right {
    border-right: 1px solid #ddd;
  }
  main .border-bottom {
    border-bottom: 1px solid #ddd;
  }

  main .banner_digitar {
    width: 100%; height: 100vh;
    background-color: rgb(248, 245, 245);
    position: relative;
  }
  main .banner_digitar h2 {
    position: absolute;
    top: 31%; right: 11.5%;
    font-size: 3.7rem;
    font-weight: bold;
    line-height: 1.2;
  }
  main .banner_digitar p {
    position: absolute;
    top: 60%; right: 10%;
    font-size: 18px;
    line-height: 1.6;
  }
  main .banner_digitar img {
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(15%, -50%);
    width: 800px;
  }
  main .banner_digitar img:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  main .banner_digitar .owl-dots {
    border-radius: 50%;
    border: none;
    width: 10px; height: 10px;
  }
  main .banner_digitar .dot_lt {
    position: absolute;
    top: 85%; right: 50%;
    background-color: green;
  }
  main .banner_digitar .dot_o {
    position: absolute;
    top: 85%; right: 49%;
    background-color: rgb(114, 151, 114);
  }
  main .banner_digitar .dot_o:hover {
    background-color: green;
  }
  main .banner_digitar .dot_rt {
    position: absolute;
    top: 85%; right: 48%;
    background-color: rgb(114, 151, 114);
  }
  main .banner_digitar .dot_rt:hover {
    background-color: green;
}

  
  /* main_business */
  #main_business {
    width: 80%;
    margin: 0 auto;
    height: 900px;
  }
  #main_business .business_banner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .business_bg {
    height: 40vh;
    position: relative;
  }
  .bg01 {
    background: url(./이미지/img-10.jpg) no-repeat;
    /* background-size: 700px; */
    background-size: cover;
    flex-grow: 7;
    flex-basis: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    background-position: 50% 50%;
  }
  .business_bg h3 {
    font-size: 2rem;
    position: absolute;
    top: 260px; left: 50px;
  }
  .business_bg p {
    position: absolute;
    top: 230px; left: 50px;

  }
  .bg02 {
    background: url(./이미지/img-12.jpg) no-repeat;
    /* background-size: 450px; */
    background-size: cover;
    background-position: 50% 50%;
    flex-grow: 5;
    flex-basis: 0;
    margin-bottom: 15px;
  }
  .bg03 {
    background: url(./이미지/img-13.jpg) no-repeat;
    /* background-size: 650px; */
    background-size: cover;
    background-position: 50% 50%;
    flex-grow: 5;
    flex-basis: 0;
    margin-right: 15px;
  }
  .bg04 {
    background: url(./이미지/img-14.jpg) no-repeat;
    /* background-size: 1100px; */
    background-size: cover;
    background-position: 50% 50%;
    flex-grow: 7;
    flex-basis: 0;
  }




  /* main_service */
  #main_service {
    margin-top: 150px;
    width: 100%;
    height: 120vh;
    background-color: rgb(244, 245, 245);
    padding: 40px 0;
  }
  #main_service img {
    width: 400px;
  }
  #main_service > ul {
    margin: 40px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main_service > ul >li {
    margin-right: 20px;
    opacity: 0.7;
  }
  #main_service > ul >li:last-child {
    margin-right: 0;
  }
  #main_service .bg {
    background-color: #fff;
    color: #333;
    padding: 50px 50px;
  }
  #main_service h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  #main_service p {
    margin-top: 16px;
    font-size: 15px;
  }
  #main_service > ul >li:hover {
    opacity: 1;
    transition: .8s;
    transform: scale(1.1);
    box-shadow:
  0px 3.4px 7.6px -13px rgba(0, 0, 0, 0.102),
  0px 6.3px 11.9px -13px rgba(0, 0, 0, 0.172),
  0px 8px 18px -13px rgba(0, 0, 0, 0.4)
;

  
  }



  /* main_banner */
  #main_banner {
    margin-top: 150px;
    width: 100%;
    height: 50vh;
    text-align: left;
    position: relative;
  }
  #main_banner .layer {
    background: url(./이미지/img-06.jpg) no-repeat 50% / cover;
    height: 50vh;
    padding: 80px;
  }
  #main_banner .layer h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: lowercase;
  }
  #main_banner .layer p {
    margin-top: 25px;
    font-size: 20px;
  }
  #main_banner .layer .main_banner_btn {
    width: 140px;
    background-color: #333;
    color: #fff;
    padding: 7px 9px;
    text-align: center;
    border-radius: 3px;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
  }
  #main_banner .layer .main_banner_btn:hover {
    background-color: rgb(37, 141, 92);
    color: #fff;
   }
  #main_banner .layer .banner_dt {
    border-radius: 50%;
    border: none;
    width: 10px; height: 10px;
  }
  #main_banner .layer .banner_dt1  {
    position: absolute;
    top: 85%; right: 50%;
    background-color: green;
  }
  #main_banner .layer .banner_dt2  {
    position: absolute;
    top: 85%; right: 49%;
    background-color: rgba(255, 255, 255, 0.685);
  }
  #main_banner .layer .banner_dt2:hover {
    background-color: green;
  }


  /* main_Partners */
  #main_Partners {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 150px;
  }
  #main_Partners > ul {
    margin-top: 80px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(6, 1fr);
  }
  #main_Partners > ul > li {
    opacity: 0.6;
  }
  #main_Partners > ul > li:hover {
    opacity: 1;
    transition: .3s;
  }
  #main_Partners img {
    padding: 20px;
  }
  #main_Partners .border_rh {
    border-right: 1px solid #ddd;
  }
  #main_Partners .border_bt {
    border-bottom: 1px solid #ddd;
  }



  /* map */
  .map {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;

    margin-top: 150px;
  }
  .map .location {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 130px;
  }
  .map .location:last-child {
    margin-right: 0;
  }
  .map .location h3 {
    font-size: 28px;
    font-weight: 700;
  }
  .map .location p {
    margin-top: 10px;
    font-size: 19px;
    color: #999;
  }
  .map .location_icon {
    padding: 10px 0;
  }
  .map .location_icon svg {
    width: 27px; height: 27px;
    margin-right: 20px;
  }



  /* instagram */
  #instagram {
    margin-top: 160px;
    width: 100%;
    height: 75vh;
    background-color: rgb(244, 245, 245);
    padding: 30px 0;
  }
  #instagram h2 {
    font-size: 35px;
  }
  #instagram .instagram_img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  #instagram .instagram_img img {
    width: 250px;
  }
  #instagram .instagram_img img:hover {
    cursor: pointer;
    transition: .5s;
    transform: scale(1.1);
    
  }


  /* footer */
  footer {
    background-color: #333;
    color: #ddd;
    padding: 40PX 100px;
    text-align: center;
    position: relative;
    font-size: 15px;
  }
  footer .copy {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  footer .copy p {
    margin-right: auto;
  }
  footer .address {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
  footer .address p {
    margin-right: auto;
  }
  .goup {
    width: 55px; height: 55px;
    background-color: rgba(0, 0, 0, 0.322);
    position: fixed;
    right: 30px; bottom: 40px;
  }
  .goup svg {
    transform: translate(75%, 75%);

  }
  .goup svg path {
    fill: #eee;
    transition: .3s;
  }
  #goup a:hover {
    background-color: #000;
    bottom: 42px;
    transition: .3s;
  }